These are the requirements

1)alter the content of a.png to hello dr neelanjan manna you have been qr jacked and it must open in domain 96269.in

2)extract content of a.txt and also obtain clear text encryption password.

3)extract exact source code of application1.exe in human readable editable form.

4)find the content of pass.txt (first 4 characters are msbj)

Total budget as of now is 6000 (1500 * 4) INR but we promise we will pay you another 14000 inr once we get our funding (we can give it to you over official email )

my number is +919831880966 also whatsapp

email id is neelanjan.manna@dortress.com   always cc igi.manna@gmail.com 